<div class="container">
  <div class="row justify-content-around jumbotron ">
    <div class ="col-sm-8">
      <h4>投稿画面</h4>
      <%= render partial: "trippy", locals: {trips: @trips} %>
    </div>
    <div class ="col-sm-4 ">
      <h4>
        メッセージ  <small class="text-muted">Chat</small>
      </h4>
    </div>
  </div>
</div>